[submodule "modules/base"]
	path = modules/base
	url = git://github.com/ChoHag/atwan-puppet-base.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git://github.com/ChoHag/atwan-puppet-puppet.git
[submodule "modules/openssh"]
	path = modules/openssh
	url = git://github.com/ChoHag/atwan-puppet-openssh.git
